

 header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

h1 {
  margin: 0;
  font-size: 2em;
}


body {
  
  margin: 0;
  padding: 0;
}

 main {
    width: 80%;
    margin: 0 auto;
} 


/* Footer styling */
 footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
} 
  
   
   



 nav { 
   background-color:rgb(247, 235, 213);
   background-color:rgb(248, 236, 215);
  text-align: center;
  padding: 10px 0;
} 

 nav a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: black; 
  transition: background-color 0.3s ease;
} 

 nav a:hover {
  background-color: white;
  color: gray; 
} 




p{
    text-align: center;
}
 


/* home page styling */

.section{
  background-image: url('https://i.postimg.cc/xChfGKjz/abstract-blur-shopping-mall.jpg');
  width: 100vw;
  height: 80vh;

}

  about section */
 .about {
  padding: 50px 20px;
  background-color: white; 
  color: #333; 
}
h2{
  text-align: center;
  margin-top: 50px;
}


.about-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: left; 
}

.about-content h1 {
  margin-right: 100px;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-right: 70px;
  color: #222;
  text-align: left;

 }

.about-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-top: 30px;
  max-width: 400px; 
}

.img-content {
  margin-left: 70px;
 }

.img-content img {
  max-width: 100%;
  height: auto;
  border-radius: px; 
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}



img{
  align-content: center;
}
p{
  text-align: center;
  top: 4px; ;
  text-shadow: #ffffff;
}

/* styling cards for product page */

.card2 {
  display: grid;
  grid-template-columns: repeat(3, 2.5fr);
  margin: auto;

}

 .admin{
      display: grid;

    }

    /*  checkout */
#checkoutTable {
  
  border-collapse: collapse;
  margin-top: 20px;
}

#checkoutTable th,
#checkoutTable td {
  border: 1px solid #ccc;
  padding: 10px;
}

.checkout-table th {
 
  font-weight: bold;
}

.checkout-table td img {
  max-width: 50px;
  max-height: 50px;
  vertical-align: middle;
}


label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  input[type="submit"]:hover {
    background-color: #0c0b0b;
  }


button {
  
  color: black;
 background-color: white;

   border: 1px solid black;
 padding: 8px 16px;
  margin: 5px;
/* Add hover effect */
  transition: background-color 0.3s ease;
}

/* Hover effect */
button:hover {
  background-color: black;
  color: white;
}


   
   