
body {
    background-color: white !important;
}

.nav a  {
    text-decoration:navy bold ;
   padding: 4rem;
   color: rgb(61, 9, 77);
  }
  a:hover {
    text-decoration: underline;
}
  

nav {
    background-color: burlywood;
    color: aliceblue;
    text-align: center;
}
nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(17, 7, 10);
}
nav a:hover {
    background-color:rgb(242, 236, 228);}

h1{
    text-align: center;
}
p{
    text-align: center;
}
 